@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,600;0,700;1,600&display=swap");

body {
  background: #014e56;
  min-height: 100vh;
  font-family: "Livvic", sans-serif;
  font-weight: 600;
}

.container {
  width: 1150px;
  padding: 0 20px;
}

/* HEADER START */

.site-header{
  padding-top: 73px;
}
.site-header__logo {
  margin-right: 80px;
}
.nav,
.footer-list {
  list-style: none;
}
.nav__item {
  margin-right: 40px;
}
.hero__nav {
  display: flex;
  flex-grow: 1;
}
.nav__item:nth-child(3) {
  margin-right: 0;
}
.nav__link,
.footer-list__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  display: inline-block;
}
.nav__link--btn:hover {
  background-color: #fff;
  color: #002529;
  transition: all 0.4s ease;
}
.nav__link--btn {
  border: 2px solid #fff;
  border-radius: 24px;
  padding: 10px 33px;
  transition: all 0.4s ease;
}
.nav__link--hover {
  position: relative;
  padding-bottom: 5px;
}
.nav__link--hover::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.4s ease;
}
.nav__link--hover:hover::after {
  width: 100%;
  transition: all 0.4s ease;
}

/* HEADER END */

#main-page {
  background-color: #014e56;
   background-repeat: no-repeat;
  background-image: url("../images/hero-bcimg-left.svg");
  background-position: left;
  background-position-y: 38%;
}

.hero-main {
  padding: 129px 0 250px 0;
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-image: url("../images/hero-bcimg-bottom.svg");
  background-position: right bottom;
}

.hero-main__title {
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  width: 620px;
  color: #ffffff;
}

.hero-main__title span {
  color: #f67e7e;
}

.hero-main__text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  width: 445px;
  padding-top: 83px;
  position: relative;
}

.hero-main__text::before {
  content: "";
  width: 50px;
  height: 4px;
  display: inline-block;
  background: #79c8c7;
  position: absolute;
  top: 0;
}
/* main page */


/**************************main page*********************/
/**************************main page*********************/

#main-page {
  background-repeat: no-repeat;
  background-image: url("../images/hero-bcimg-left.svg");
  background-position-y: 38%;
  background-position: left;
}

.main-page__inner {
  padding: 129px 0 250px 0;
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-image: url("../images/hero-bcimg-bottom.svg");
  background-position: right bottom;
}

.main-page__title {
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  width: 620px;
  color: #fff;
}

.main-page__title span {
  color: #f67e7e;
}

.main-page__text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  width: 445px;
  padding-top: 83px;
  position: relative;
}

.main-page__text::before {
  content: "";
  width: 50px;
  height: 4px;
  display: inline-block;
  background: #79c8c7;
  position: absolute;
  top: 0;
}
/* main page */

/********************* service page *******************/
/********************* service page *******************/

#services {
  background-color: #012f34;
  position: relative;
  background-image: url("../images/team-bcimg.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.service {
  display: flex;
  padding: 140px 0 140px 0;
  justify-content: space-between;
}

.service__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-right: 120px;
}
.service__title::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 4px;
  background: #f67e7e;
  margin-bottom: 54px;
}

.service__process {
  padding-top: 60px;
}

.service__list {
  display: flex;
  flex-direction: column;
}

.service__item {
  margin-bottom: 32px;
}

.service__item-desc {
  margin-left: 23px;
}

.service__item-desc {
  width: 445px;
}
.service__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #f67e7e;
  margin-bottom: 16px;
}
.service__item-text {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.8;
}

/***********************delivering************************/
/***********************delivering************************/

#deliver {
  position: relative;
  padding: 140px 0 140px 0;
  background-image: url(../images/story-bcimg-top.svg),
    url(../images/story-bcimg-bottom.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}

.deliver__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #fff;
  margin-bottom: 56px;
}

.deliver__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.deliver__item {
  display: flex;
  flex-direction: column;
  padding-top: 36px;
  position: relative;
  background-image: url(../images/quotation-mark.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 80px;
}

.deliver__item-des {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}

.deliver__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #79c8c7;
  margin-top: 24px;
  margin-bottom: 2px;
}

.deliver__title span {
  color: #79c8c7;
}

.deliver__item-text {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  margin-bottom: 32px;
}

.deliver__item-img {
  display: flex;
  justify-content: center;
  width: 62px;
  margin: 0 auto 11px;
}


/* start about-hero */

.about-hero{
    width: 100%;
    padding: 120px 0;
    background-image: url('../images/about-hero-bcimg.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
}



.about-hero__title {
    font-weight: bold;
    font-size: 64px;
    line-height: 100px;
    color: #FFFFFF;
}


.about-hero__inner {
    width: 730px;
}
hr{
    width: 50px;
    height: 4px;
    background: #f67e7e;
    border: none;
    margin-bottom: 40px;
}

.about-hero__discribtion {
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
/* finish about-hero */

/* start direction */

.direction {
    width: 100%;
    background: #004047;
    padding: 140px 0;
    background-image: url('../images/about-director-bcimg-bottom.svg'),
    url('../images/about-director-bcimg-top.svg') ;
    background-position: bottom right , left top;
    background-repeat: no-repeat;
}


.direction__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 65px;
}

.direction__list {
    list-style: none;
}

.direction__items {
    width: 350px;
     height: 253px;
     background: #012f34;
     margin-bottom: 75px;
     padding-top: 32px;
     position: relative;
     cursor: pointer;
}

.direction__items-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79c8c7;
}

.direction__items:first-child .direction__items-title::before{
    background-image: url('../images/about-director-img-one.png');
        content: '';
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
        margin-bottom: 14px;
}
.direction__items:nth-child(2) .direction__items-title::before {
    background-image: url('../images/about-director-img-two.png');
        content: '';
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
        margin-bottom: 14px;
}
.direction__items:nth-child(3) .direction__items-title::before {
    background-image: url('../images/about-director-img-three.png');
        content: '';
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
        margin-bottom: 14px;
}
.direction__items:nth-child(4) .direction__items-title::before {
    background-image: url('../images/about-director-img-four.png');
        content: '';
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
        margin-bottom: 14px;
}
.direction__items:nth-child(5) .direction__items-title::before {
    background-image: url('../images/about-director-img-five.png');
        content: '';
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
        margin-bottom: 14px;
}
.direction__items-discribtion {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    font-style: italic;
}

.direction__btn {
    width: 56px;
    height: 56px;
    background: #F67E7E;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.direction__items:last-child .direction__btn{
    background-color: #79C8C7;
    
}
.bx-plus-medical{
    color: #012f34;
    font-size: 22px;
    position: relative;
    top: 2px;
 
}
.btn-x{
    transform: rotate(45deg);
}
.direction__items:last-child .direction__items-discribtion{
    font-style: normal;
    width: 255px;
    margin: 0 auto ;
    margin-bottom: 24px;
}
.direction__btn-list {
    justify-content: center;
    list-style: none;
}


.direction__items:last-child{
    background: #002529;
}

.bxl-twitter { 
    color: #ffffff;
    font-size: 35px;
    margin-right: 8px;
    cursor: pointer;
}
.bxl-linkedin-square {
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;

}
.bx{
    cursor: pointer;
}
/* finish direction */
/* start clients */
.clients {
    width: 100%;
    padding: 140px 0;
    background: #012F34;
    background-image: url('../images/clients-bg-left.svg');
    background-repeat: no-repeat;
    background-position: top left;
}

.clients-title{
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 70px;

}
.clients__list {
    list-style: none;
}

/* finish clients */
/* START  */

#start {
  padding: 76px 0;
  background-color: #f67e7e;
  background-image: url("../images/start-bcimg.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
}
.start__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #012f34;
  margin-right: 320px;
  position: relative;
  left: 63px;
}
.start__link {
  font-size: 18px;
  line-height: 28px;
  color: #012f34;
  text-decoration: none;
  border: 2px solid #012f34;
  border-radius: 24px;
  padding: 10px 32px;
  display: inline-block;
  transition: all 0.4s ease;
}
.start__link:hover {
  background-color: #012f34;
  color: #f67e7e;
  transition: all 0.4s ease;
}

/* START END */

/* FOOTER START */

#site-footer {
  padding: 48px 0;
  background-color: #002529;
}
.footer-list__item {
  position: relative;
}
.footer-list__item:not(:last-child) {
  margin-right: 40px;
}
.footer-list__link {
  padding-bottom: 5px;
}
.footer-list__link::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.4s ease;
}
.footer-list__link:hover::after {
  width: 100%;
  transition: all 0.4s ease;
}
.site-footer__img {
  margin-bottom: 25px;
}
.site-footer__inner {
  margin-right: 125px;
}
.site-footer__text {
  font-size: 15px;
  line-height: 30px;
  color: #fff;
  opacity: 0.6;
  display: flex;
  flex-grow: 1;
}
.social-media {
  display: flex;
  flex-direction: row-reverse;
}
.social-media {
  list-style: none;
  margin-bottom: 51px;
}
.social-media__item:not(:nth-child(1)) {
  margin-right: 16px;
}
.icon {
  color: #fff;
  font-size: 24px;
}
.social-media__text {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.6;
}

/* FOOTER END */

/* CONTACT START */

#contact {
  padding: 120px 0;
  background-image: url("../images/about-director-bcimg-top.svg"),
    url("../images/contanct-hero-bg-bottom.svg");
  background-repeat: no-repeat;
  background-position: top 120px left, right bottom;
  position: relative;
}
.contact__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
  color: #fff;
  margin-bottom: 16px;
}
.contact__text {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #f67e7e;
  margin-bottom: 32px;
}
.contact__list {
  list-style: none;
}
.list-box__item {
  margin-bottom: 8px;
}
.list-box__text::before {
  content: "";
  background-image: url("../images/team-img-one.svg");
  width: 72px;
  height: 72px;
  display: inline-block;
  margin-right: 23px;
}
.list-box__text--second::before {
  background-image: url("../images/team-img-two.svg");
}
.list-box__text--third::before {
  background-image: url("../images/team-img-three.svg");
}
.list-box__text {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}
.contact__form {
  display: flex;
  flex-direction: column;
}
.contact__input {
  width: 540px;
  margin-bottom: 24px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  opacity: 0.8;
  padding-bottom: 16px;
  padding-left: 15px;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #fff;
}
.contact__input:focus {
  outline: none;
  border-bottom: 2px solid #79c8c7;
  opacity: 2;
}
.contact__input:focus::placeholder {
  font-size: 12px;
  position: relative;
  top: -8px;
  transition: all 0.5s ease;
  opacity: 1;
}
::placeholder {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #fff;
  opacity: 0.6;
}
.contact__btn {
  display: inline-block;
  width: 123px;
  font-size: 18px;
  line-height: 28px;
  color: #004047;
  padding: 10px 32px;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
}
.contact__btn:hover {
  background-color: #79c8c7;
  color: #002529;
  transition: all 0.4s ease;
}

/* CONTACE END */
